
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles\presentacion.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mario Luna</title>
</head>
<body class="index" >
<header>SITIO WEB PINTORES</header>

<main>
    <table>
        <tr>
            <th><a href="/pintor1"><img id="error" src="images\diegor.png" alt=""></a></th>
            <th><a href="/pintor2"><img src="images\leonardod.png" alt=""></a></th>
            <th><a href="/pintor3"><img src="images\miguela.png" alt=""></a></th>
            <th><a href="/pintor4"><img src="images\salvadord.png" alt=""></a></th>
        </tr>
    </table>
</main>
{{>footer}}
</body>
</html>